# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# Vim temporary files
*.*.swp

# Builds
build/

# txt
*.txt
!CMakeLists.txt

# Cmake
*.user