# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# Vim temporary files
*.*.swp

# Builds
build/
data/
results/

# Link
huffcode

# Cmake
*.user